:root {
  --dark: #1e1c1c;
  --dark80: rgba(30, 28, 28, 0.8);
  --dark70: rgba(30, 28, 28, 0.7);
  --dark60: rgba(30, 28, 28, 0.6);
  --light_blue: #7c96f7;
  --orange: #ffba08;
  --smoky_white: #f0f0f0;
  --white: #ffffff;
  --gray: #ececec;
  --light_shadow: rgba(204, 204, 204, 0.7);
}

@font-face {
  font-family: Samim;
  src: url('../fonts/Samim.ttf');
}

@font-face {
  font-family: Samim;
  font-weight: bold;
  src: url('../fonts/Samim-Bold.ttf');
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: Samim;
  margin: 0px;
  direction: rtl;
  overflow-x: hidden;
}

.wrapper,
.row {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.header_bg {
  position: absolute;
  width: 100%;
  height: 497px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: linear-gradient(180deg, #7c96f7 0%, rgba(255, 255, 255, 0) 100%);
}

header {
  min-height: 232px;
  background-image: url("../images/Header_Background.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.bg-dark {
  background-color: var(--dark);
}

.bg-light {
  background-color: var(--gray);
}

.logo {
  height: 50px;
  width: 50px;
}

.humberger-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

.humberger-menu>.bar {
  position: relative;
  background-color: var(--white);
  width: 40px;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 6px;
  transition: all 0.3s;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  padding: 48px 83px 0px 0px;
}

.menu ul {
  margin: 0px;
}

.menu ul li {
  display: inline-block;
  margin-left: 32px;
  font-weight: bold;
  font-size: 24px;
  color: var(--dark80);
  transition: color 0.4s;
}

.menu li:hover {
  color: var(--light_blue);
}

.menu_footer {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 4;
}

/* End Menu */

/* Hero Section */
.hero {
  display: flex;
  justify-content: flex-start;
}

.hero .right {
  margin-right: 45px;
  margin-top: 45px;
  margin-bottom: 167px;
}

.hero .title {
  color: var(--white);
  font-weight: bold;
  font-size: 40px;
  line-height: 78px;
  margin: 0px 0px 18px 0px;
}

.hero .subtitle {
  color: var(--smoky_white);
  font-size: 30px;
  line-height: 47px;
  font-weight: 500;
  margin-bottom: 35px;
  margin-top: 0px;
}

.hero .left {
  margin-bottom: 78px;
}

.hero .left img {
  height: 394px;
  position: absolute;
  left: -149px;
}

.btn {
  min-width: 143px;
  min-height: 65px;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  float: right;
  outline: unset;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--orange);
  font-size: 24px;
  font-weight: bold;
  line-height: 37px;
  color: var(--dark80);
  border: unset;
}

.btn-sm {
  min-width: 116px;
  font-size: 14px;
  line-height: 22px;
  min-height: 38px;
}

.btn-secondary-outline {
  border: 2px solid var(--light_blue);
  background-color: transparent;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  color: var(--white);
}

.btn-secondary {
  background-color: var(--light_blue);
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
  border: unset;
}

/* End Hero Section */

/* About Section */
.about {
  display: flex;
  background-image: url("../images/About_Background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
  padding-top: 169px;
  min-height: 900px;
}

.about .circle {
  position: absolute;
  right: 31px;
  width: 78px;
  height: 78px;
  background: #ffba08;
  border-radius: 50%;
  z-index: 0;
}

.about .right {
  padding-right: 46px;
  position: relative;
  z-index: 1;
}

.about .title {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 40px;
  color: var(--dark80);
  line-height: 78px;
  margin: 0px 0px 45px 0px;
}

.about .description {
  font-size: 20px;
  color: var(--dark70);
  line-height: 31px;
  margin-bottom: 30px;
  margin-left: 50px;
}

/* End About Section */

/* Posts Section */
.posts {
  background-image: url("../images/Wave_Background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: -497px;
  padding-top: 447px;
  padding-bottom: 186px;
}

.posts .title {
  font-size: 40px;
  font-weight: bold;
  color: var(--dark);
  text-align: center;
}

/* .posts .wrapper:first-of-type {
  justify-content: flex-start;
  padding-right: 15px;
} */

.posts .wrapper,
.blog-posts .wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.posts .card,
.blog-posts .card {
  width: 350px;
  min-height: 550px;
  background-color: var(--white);
  box-shadow: 0px 4px 30px var(--light_shadow);
  border-radius: 10px;
  position: relative;
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 91px;
}

.card .thumbnail {
  width: 100%;
  height: 264px;
  border-radius: 10px 10px 0px 0px;
}

.card .overlay {
  background: linear-gradient(180deg,
      transparent,
      rgba(0, 0, 0, 0.5) 60%,
      #111111 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 264px;
}

.card-title {
  color: var(--white);
  position: absolute;
  right: 10px;
  top: 170px;
  margin-left: 10px;
  font-size: 24px;
  line-height: 37px;
  font-weight: bold;
}

.badge {
  margin-left: 10px;
  background-color: #e3e3e3;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 25px;
  border-radius: 10px;
  color: var(--dark80);
}

.card-body {
  padding: 22px 10px;
}

.card-description {
  color: var(--dark70);
  font-size: 18px;
  line-height: 28px;
}

.views {
  position: absolute;
  bottom: 22px;
  right: 18px;
}

.views::before {
  content: url("../images/Eye.svg");
  margin-left: 10px;
}

.posts button.btn-secondary {
  margin-top: 91px;
}

/* End Posts Section */

/* Tutorials Section */
.tutorials {
  margin-top: -417px;
  margin-bottom: 102px;
}

.tutorials .wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: 78px;
}

.tutorials img {
  width: 339px;
  border-radius: 30px;
  margin-left: 51px;
}

.tutorials .title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

/* End Tutorials Section */

/* Podcasts Page */
.podcasts {
  padding: 0px 45px;
}

.mic {
  position: absolute;
  top: 0px;
  left: 43px;
}

.podcasts .wrapper {
  display: flex;
  justify-content: space-between;
}

.podcasts .icons {
  margin-bottom: 30px;
}

.podcasts img {
  margin-left: 13px;
}

.podcasts .right {
  max-width: 633px;
}

.btn img {
  margin-right: 6px;
}

.podcasts .title {
  margin: 0px 0px 32px 0px;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 50px;
  line-height: 100px;
}

.podcasts .description {
  margin: 0px 0px 30px 0px;
  color: #e0e0e0;
  font-weight: 500;
  font-size: 24px;
  line-height: 37px;
}

.podcast_illustration {
  position: relative;
  top: -60px;
  max-width: 100%;
}

.podcasts .podcast_frame {
  margin-bottom: 65px;
  filter: drop-shadow(0px 4px 25px #000000);
  border-radius: 10px;
}

/* End Podcasts page */

/* 404 Page */
.page_404 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_404 .wrapper {
  flex-direction: column;
  min-height: calc(100vh - 243px);
  justify-content: center;
  align-items: center;
}

.error-404-text {
  font-size: 30px;
  line-height: 47px;
  font-weight: bold;
  margin: 35px 0 0 0;
}

.error-404-link-back {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: var(--light_blue);
}

.text-white {
  color: var(--white);
}

.text-orange {
  color: var(--orange);
}

/* End 404 Page */

/* Blog page */
.blog-left-square {
  position: absolute;
  width: 150px;
  height: 339.16px;
  left: 0px;
  top: 78px;
}

.blog-right-square {
  position: absolute;
  width: 150px;
  height: 339.16px;
  right: 0px;
  top: 303px;
}

.blog-left-folder {
  position: absolute;
  width: 240px;
  height: 211px;
  left: -64.89px;
  top: 131px;
  z-index: -2;
  transform: rotate(12.07deg);
}

.blog-right-folder {
  position: absolute;
  width: 240px;
  height: 211px;
  right: -64.89px;
  top: 228px;
  transform: matrix(-0.98, 0.21, 0.21, 0.98, 0, 0);
  z-index: -2;
}

.blog-left-hashtag {
  position: absolute;
  width: 359px;
  height: 371px;
  left: -198px;
  top: 85px;
  z-index: -2;
}

.blog-right-hashtag {
  position: absolute;
  width: 359px;
  height: 371.19px;
  right: -198px;
  top: 242px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;
}

.blog-left-search {
  position: absolute;
  width: 264px;
  height: 261px;
  left: -36px;
  top: 128px;
  z-index: -2;
}

.blog-right-search {
  position: absolute;
  width: 225px;
  height: 222.44px;
  right: -36px;
  top: 258px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;
}

.blog .blog-hero {
  font-size: 24px;
  line-height: 37px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 94px;
  color: var(--dark60);
}

.blog-hero>.description {
  margin-bottom: 40px;
}

.blog-hero-image {
  display: none;
}

.blog-search-box {
  width: 500px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: auto auto 194px auto;
}

.blog-search-btn {
  margin: 7px;
  position: absolute;
  border: unset;
  outline: unset;
  background-color: var(--light_blue);
  border-radius: 10px;
  width: 51px;
  height: 49px;
}

.blog-search {
  width: 100%;
  background-color: transparent;
  padding: 18px 69px 18px 18px;
  font-size: 18px;
  font-family: inherit;
  border: unset;
  outline: unset;
}

.blog-categories {
  margin-right: 20px !important;
  margin-bottom: 35px !important;
}

.blog-category {
  flex: 1 0 auto;
  position: relative;
  margin-left: 18px;
  width: 200px;
  height: 65px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 47px;
  font-weight: bold;
  color: var(--white);
}

.blog-category.yellow-bg {
  background-image: linear-gradient(to right, var(--orange), #ffb90825);
}

.blog-category.blue-bg {
  background-image: linear-gradient(to right, var(--light_blue), #ffb90825);
}

.blog-category.black-bg {
  background-image: linear-gradient(to right, var(--dark), #ffb90825);
}

.blog-category.red-bg {
  background-image: linear-gradient(to right, #d43030, #ffb90825);
}

.blog-category.green-bg {
  background-image: linear-gradient(to right, #47e931, #ffb90825);
}

.blog-category img {
  position: absolute;
  border-radius: 10px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.order-by-box {
  margin-right: 182px;
  margin-bottom: 49px;
}

label.order {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: var(--dark80);
  margin-left: 28px;
}

select.order {
  min-width: 238px;
  min-height: 44px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  padding: 10px;
  color: var(--dark);
}

/* End Blog page */

/* Footer */
footer {
  background-image: url("../images/Footer_Background.svg");
  background-size: 100% 100%;
  color: var(--dark80);
  font-size: 18px;
  padding-top: 80px;
  padding-bottom: 10px;
}

footer p {
  text-align: center;
}

/* End Footer */

/* Category */
.category .title,
.tag .title,
.search-results .title {
  text-align: center;
  font-size: 40px;
  line-height: 62px;
  color: var(--dark80);
  margin-top: 100px;
  margin-bottom: 50px;
}

/* End Category */

/* Post Page */
.row {
  display: flex;
}

main.post {
  padding: 26px;
}

main.post article {
  max-width: 70%;
  margin-left: 28px;
  padding-bottom: 20px;
  background-color: var(--white);
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.7);
  border-radius: 10px;
}

.post-header {
  padding: 56px 46px 41px 0px;
  background: #7c96f7;
  border-radius: 10px 10px 0px 0px;
}

.post-title {
  color: var(--white);
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
}

.post-content {
  padding: 30px 26px 20px 26px;
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  color: var(--dark);
}

.comments {
  background-color: var(--light_blue);
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.7);
  border-radius: 10px;
  margin: 0px 20px;
}

.comment-form {
  justify-content: space-between;
  padding: 34px 20px 0px 34px;
  font-size: 24px;
  line-height: 37px;
  color: var(--white);
  margin-bottom: 16px;
}

.comment-form form {
  width: 70%;
}

.comment-form input,
textarea {
  background: #ffffff;
  border: 2px solid #7c96f7;
  border-radius: 10px;
  outline: unset;
  margin: 0px 10px 0px 22px;
  font-size: 18px;
  font-family: inherit;
  padding: 5px 10px;
  min-width: 80%;
}

.comment-form textarea {
  min-height: 201px;
  max-height: 501px;
  max-width: 80%;
}

.comment-form .row {
  justify-content: space-between;
}

.comment-form .row:not(:first-child) {
  margin-top: 22px;
}

.comment-form .row:last-child {
  flex-direction: row-reverse !important;
}

.comments-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.comments-list ul li:nth-child(even) {
  align-self: flex-end;
}

.comment {
  max-width: 456px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.7);
  border-radius: 10px;
  padding: 13px 20px;
  margin: 15px 25px 0px 25px;
  position: relative;
}

.reply {
  width: 456px;
}

.comment .row {
  align-items: center;
}

.comment-date {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  background-color: var(--light_blue);
  padding: 3px 5px;
  font-size: 13px;
  line-height: 20px;
  color: var(--white);
}

.comment-title {
  margin-right: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  color: var(--dark80);
  max-width: none;
}

.comment-text p {
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

.more-comment-row {
  justify-content: center;
}

.more-comment-btn {
  margin: 41px 0px 19px 0px;
}

/* Sidebar */
aside {
  max-width: 30%;
}

.widget {
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.7);
  border-radius: 10px;
  background-color: var(--white);
  margin-bottom: 15px;
}

.widget-title {
  padding: 22px 15px;
  background-color: var(--light_blue);
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
  font-size: 24px;
  color: var(--white);
}

.widget-title h3 {
  margin: 0px;
}

.widget-body {
  padding: 15px;
}

.widget-body img.widget-image {
  width: 100%;
  border-radius: 10px;
}

.widget-body p {
  font-size: 18px;
  line-height: 28px;
  text-align: right;
  color: var(--dark80);
  margin: 10px 0px;
}

.widget-body ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* End Sidebar */

/* End Post Page */

/* Glider */
.glider-track {
  margin: 0px 20px !important;
}

.glider-dot.active {
  background: var(--light_blue) !important;
}

.tutorials .glider-slide {
  margin-left: 20px;
  min-width: 339px;
}

.blog .glider-slide {
  margin-left: 60px;
}

/* End Glider */

/* Large Tablet */
@media screen and (max-width: 1280px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero .left img {
    max-height: 200px;
    max-width: 100%;
    position: initial;
    left: unset;
  }

  .hero .left {
    margin-bottom: 26.5px;
  }

  .hero .right {
    margin: 0px 10px;
  }

  /* About Section */
  .about {
    flex-direction: column;
    padding-top: 78px;
    padding-bottom: 42px;
    margin-top: 56px;
    min-height: unset;
  }

  .about .left {
    margin-right: 46px;
    margin-left: 50px;
  }

  .about .left img {
    max-width: 100%;
    float: left;
  }

  /* End About Section */

  /* Posts Section */
  .posts {
    top: -415px;
    padding-top: 415px;
    background-image: url('../images/Mobile_Wave_Background.png');
  }

  .posts>.wrapper {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .posts .wrapper:first-of-type {
    justify-content: flex-start;
    padding-right: 15px;
  }

  .posts .card {
    margin-left: 15px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }

  /* End Posts Section */

  /* Post Page */
  .comment-illustration {
    max-width: 175px;
  }

  /* End Post Page */

}

/* End Large Tablet */

/* Medium Tablet */
@media screen and (max-width: 769px) {

  /* Blog Page */
  .blog-left-square,
  .blog-right-square {
    display: none;
  }

  /* End Blog Page */

  /* Podcast Page */
  .podcasts {
    text-align: center;
  }

  .mic {
    display: none;
  }

  .podcasts .wrapper {
    flex-direction: column-reverse;
  }

  .podcasts .right .btn {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  /* End Podcast Page */

  /* Post Page */
  main.post>.row {
    flex-direction: column;
  }

  main.post article {
    max-width: 100%;
    margin-left: unset;
    margin-bottom: 20px;
  }

  .comment-form form {
    width: 100%;
  }

  .reply {
    width: 100%;
    margin: 0px !important;
  }

  .reply .comment-title {
    max-width: 60px;
  }

  .comment-illustration {
    display: none;
  }

  main.post aside.sidebar {
    max-width: 100%;
  }

  /* End Post Page */
}

/* End Medium Tablet */

/* Mobile */
@media screen and (max-width: 479px) {

  body,
  html {
    overflow-x: hidden;
  }

  header {
    min-height: 68px;
    background-image: none;
  }

  .humberger-menu {
    z-index: 4;
    display: initial;
  }

  .menu {
    display: none;
    align-items: flex-start;
  }

  .menu-open {
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 3;
    background-color: var(--dark);
    flex-direction: column;
  }

  .menu ul {
    padding: 0px;
  }

  .menu ul li {
    color: var(--white);
    margin-left: 0px;
    padding-right: 26px;
    width: 75vw;
  }

  .menu a {
    margin-top: 24px;
  }

  .menu a:hover,
  .menu a:focus {
    background-color: var(--orange);
    border-radius: 10px 0px 0px 10px;
  }

  .menu ul a {
    display: block;
  }

  .logo {
    align-self: flex-end;
    margin: 15px;
  }

  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero .title {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    line-height: 31px;
  }

  .hero .subtitle {
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 18px 0;
  }

  .btn {
    min-width: 100px;
    min-height: unset;
  }

  .btn-secondary-outline {
    font-size: 16px;
  }

  .btn-secondary {
    font-size: 16px;
    line-height: 25px;
  }

  .btn-primary {
    font-size: 16px;
  }

  .hero .left {
    margin-bottom: 26.5px;
  }

  .hero .left img {
    max-height: 98.5px;
    max-width: 100%;
    position: initial;
    left: unset;
  }

  .hero .right {
    margin: 0px 10px;
  }

  .about {
    flex-direction: column;
    padding-top: 78px;
    padding-bottom: 42px;
    margin-top: 56px;
    min-height: unset;
  }

  .about .right {
    padding-right: 15px;
  }

  .about .title {
    font-size: 25px;
    line-height: 39px;
    margin: 0 15px 5px 0;
  }

  .about .description {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .about .circle {
    width: 39px;
    height: 39px;
    right: 15px;
  }

  .about .left {
    margin-right: 17px;
    margin-left: unset;
  }

  .about .left img {
    max-width: 100%;
  }

  .posts {
    padding-top: 294px;
    top: -285px;
    background-image: url('../images/Mobile_Wave_Background.svg');
    padding-bottom: 87px;
  }

  .posts .title {
    font-size: 25px;
    line-height: 39px;
    margin: 0 0 39px 0;
  }

  .posts>.wrapper {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .posts .card {
    min-height: 404px;
    width: 251px;
    margin-left: 15px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }

  .card .thumbnail,
  .card .overlay {
    height: 189px;
    border-radius: 10px;
  }

  .card-title {
    font-size: 16px;
    line-height: 25px;
    top: unset;
    bottom: 15px;
    margin: 0px;
  }

  .card-body {
    padding: 11px 10px;
  }

  .badge {
    font-size: 12px;
    line-height: 19px;
    margin-left: 5px;
  }

  .card-description {
    font-size: 14px;
    line-height: 22px;
  }

  .views {
    font-size: 12px;
    line-height: 19px;
    color: var(--dark);
  }

  .views::before {
    margin-left: 2px;
  }

  .posts button.btn-secondary {
    margin-top: 17px;
  }

  .tutorials {
    margin-bottom: unset;
    margin-top: -295px;
  }

  .tutorials .title {
    font-size: 25px;
    line-height: 39px;
  }

  .tutorials .glider-slide {
    min-width: 176px;
  }

  .tutorials img {
    width: 176px;
  }

  /* 404 Page */

  .image_404 {
    max-width: 300px;
  }

  .error-404-text {
    font-size: 16px;
    line-height: 25px;
  }

  .error-404-link-back {
    font-size: 16px;
    line-height: 25px;
  }

  /* End 404 Page */

  /* Podcast Page */
  .mic {
    width: 95px;
    height: 107px;
    display: block;
  }

  .podcasts {
    padding: 0px 17px;
    text-align: center;
  }

  .podcasts .wrapper {
    flex-direction: column-reverse;
  }

  .podcast_illustration {
    top: unset;
    margin-top: 62px;
  }

  .podcasts .title {
    font-size: 25px;
    margin-bottom: 7px;
    line-height: 39px;
  }

  .podcasts .description {
    font-size: 16px;
    line-height: 25px;
    margin: 0px 0px 15px 0px;
  }

  .podcasts .icons {
    margin-bottom: 19px;
  }

  .podcasts .right .btn {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .podcasts .podcast_frame {
    margin-bottom: unset;
  }

  /* End Podcast Page */

  /* Blog Page */
  .blog-left-square,
  .blog-right-square {
    display: none;
  }

  .blog .blog-hero {
    font-size: 16px;
    line-height: 25px;
    margin-top: -68px;
    background: #C4C4C4;
    box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 40px 40px;
    padding-top: 15px;
    padding-bottom: 20px;
    transition: margin-top 0.5s;
  }

  .blog-hero-image {
    display: block;
    margin: auto;
  }

  .blog-search-box {
    width: 250px;
    margin-bottom: 23px;
  }

  .blog-search {
    padding: 9px 45px 9px 18px;
  }

  .blog-search-btn {
    width: 35px;
    height: 35px;
    margin: 3px;
  }

  .blog-search-btn img {
    width: 11px;
    height: 11px;
  }

  .blog-hero .handler-line {
    width: 40px;
    height: 3px;
    background-color: var(--dark60);
    border-radius: 5px;
    margin: auto;
    padding: 7px 40px;
  }

  .blog-categories {
    margin-right: unset !important;
  }

  .blog-category {
    width: 100px;
    height: 32.5px;
    font-size: 16px;
    line-height: 25px;
  }

  .blog .glider-slide {
    min-width: 100px;
    margin-left: 9px;
  }

  .blog .glider-track {
    margin-right: 12px !important;
  }

  .order-by-box {
    margin: 0px 12px 27px 0px;
  }

  label.order {
    font-size: 16px;
    line-height: 25px;
    margin-left: 7px;
  }

  select.order {
    min-width: 119px;
    min-height: 22px;
  }

  .blog-posts .card {
    width: 251px;
    min-height: unset;
    margin-bottom: 15px;
    margin-left: unset;
    margin-right: unset;
  }

  .blog-posts .card:last-of-type {
    margin-bottom: unset;
  }

  .blog-posts .card a {
    position: absolute;
    top: 5px;
  }

  .blog-posts .card .card-body a:nth-child(2) {
    right: 5px;
  }

  .blog-posts .card .card-body a:nth-child(3) {
    right: 60px;
  }

  .blog-posts .card .thumbnail,
  .blog-posts .card .overlay {
    height: 100%;
  }

  .blog-posts .card .card-description,
  .blog-posts .card .views {
    display: none;
  }

  .blog-posts .btn-primary {
    font-size: 14px;
    line-height: 22px;
    margin-top: 30px;
  }

  /* End Blog Page */

  /* Post Page */
  .post {
    padding: 10px !important;
  }

  .post-title {
    font-size: 25px;
    line-height: 39px;
    margin: 0px 0px 15px 0px;
  }

  .post-content {
    padding: 10px;
    font-size: 16px;
    line-height: 25px;
  }

  .comments {
    margin: 0 10px;
  }

  .comment-form {
    padding: 34px 15px 0px 15px;
    font-size: 16px;
    line-height: 25px;
  }

  .comment-form .row {
    flex-direction: row !important;
  }

  .comment-form form {
    width: 100%;
  }

  .comment-form input {
    margin: 0px;
  }

  .comment-form textarea {
    max-width: 100%;
    margin-left: 0px !important;
  }

  .post>.row {
    flex-direction: column;
  }

  .comment-form .btn {
    margin-left: 0px;
  }

  main.post article {
    max-width: 100%;
    margin-left: unset;
  }

  .comment-illustration {
    display: none;
  }

  .reply {
    width: 100%;
    margin: 0px !important;
  }

  .comment {
    margin: 15px 15px 0px 15px;
  }

  .comment-title {
    max-width: 100px;
  }

  .more-comment-btn {
    margin: 26px 0 26px 0;
  }

  /* End Post Page */
  .btn-sm {
    font-size: 14px;
    line-height: 22px;
  }

  .post aside {
    padding-top: 20px;
    max-width: 100%;
  }

  /* Category Page */
  .header_bg {
    height: 124px;
  }

  .blog-right-folder {
    right: -11px;
    top: 47px;
    width: 66.47px;
    height: 58.44px;
  }

  .blog-left-folder {
    left: -13.78px;
    top: 5px;
    width: 66.47px;
    height: 58.44px;
  }

  .category .title,
  .tag .title,
  .search-results .title {
    font-size: 25px;
    line-height: 39px;
    margin-top: unset;
  }

  /* End Category Page */

  /* Tag Page */
  .blog-left-hashtag {
    left: -13.78px;
    top: 5px;
    width: 66.47px;
    height: 58.44px;
  }

  .blog-right-hashtag {
    right: -11px;
    top: 47px;
    width: 66.47px;
    height: 58.44px;
  }

  /* End Tag Page */

  /* Search results Page */
  .blog-right-search {
    right: -11px;
    top: 87px;
    width: 66.47px;
    height: 58.44px;
  }

  .blog-left-search {
    left: -13.78px;
    top: 25px;
    width: 66.47px;
    height: 58.44px;
  }

  /* End Search results Page */
  footer {
    background-image: url('../images/Mobile_Footer_Background.svg');
    font-size: 14px;
    line-height: 22px;
  }
}

/* End Mobile */

/* Extra Small */
@media screen and (max-width: 375px) and (min-width: 200px) {
  .posts {
    padding-top: 250px;
    top: -270px;
  }
}

/* End Extra Small */